@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --red:#D01C28
  --gray:#5A5959
}
body {
  font-family: 'Poppins', sans-serif;;
}

* {
  margin: 0;
}
button{
 all:unset;
 padding: 6px 16px;
 background-color: var(--red);
 height: 32px;
 color:white;
 font-weight: 500;

}

nav{
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.container {  
  max-width: 1280px;
  margin: 0 auto;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1{
  font-weight: 800px;
  font-size: 108px;
  line-height: 102px;

}
.hero p{
  font-weight: 600px;
  color: var(--gray);

}
.hero-content {
  justify-content: space-around;
  align-items: center;
  height:calc( 100vh-72px);

}
